[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "intrinsicFRP"]
	path = intrinsicFRP
	url = https://github.com/a91quaini/intrinsicfrp
